$--color-primary: #0066ff;
$--color-success: #67c23a;
$--color-btn-border:#6F8FAF;
$--color-border:#EAEEF4;
$--color-title:#333333;
$--color-header:#374256;
$--color-table-stripe:#FAFAFA;
$--color-delete:#ED5751;
$--color-table-header:#f5f7fa;
$--color-tab-active:#9ACD32;
$--color-btn-delete:#FF4749;

$--color-detail-main-attr: rgba(#000, .6);//产品属性文字颜色

/* 一些公共样式 */
.pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .w-100 {
    width: 100%;
  }

  .w-80 {
    width: 80%;
  }

  .w-110 {
    width: 110px;
  }

  .w-180 {
    width: 180px;
  }

  .w-200 {
    width: 200px;
  }
  .w-272 {
    width: 272px;
  }

  .w-300 {
    width: 300px;
  }

  .w-400 {
    width: 400px;
  }

  .ml-10 {
    margin-left: 10px;
  }

  .ml-15 {
    margin-left: 15px;
  }
  .ml-16 {
    margin-left: 16px;
  }
  .ml-20 {
    margin-left: 20px;
  }

  .mt-10 {
    margin-top: 10px !important;
  }

  .mt-15 {
    margin-top: 15px;
  }
  .mt-16 {
    margin-top: 15px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-24 {
    margin-top: 24px;
  }

  .mt-30 {
    margin-top: 30px;
  }

  .mr-0 {
    margin-right: 0;
  }

  .mr-10 {
    margin-right: 10px;
  }
  .mr-16 {
    margin-right: 16px;
  }
  .mr-20 {
    margin-right: 20px;
  }

  .mr-24 {
    margin-right: 24px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-16 {
    margin-bottom: 16px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-24 {
    margin-bottom: 24px;
  }

  .mb-40 {
    margin-bottom: 40px;
  }

  .pt-40 {
    padding-top: 40px;
  }
  .pt-24 {
    padding-top: 24px;
  }

  .pt-20 {
    padding-top: 20px;
  }
  .pt-16 {
    padding: 16px;
  }

  .pt-10 {
    padding: 10px;
  }

  .pl-10 {
    padding-left: 10px;
  }

  .pl-15 {
    padding-left: 15px;
  }
  .pl-16 {
    padding-left: 16px;
  }

  .pl-20 {
    padding-left: 20px;
  }
  .pl-24 {
    padding-left: 24px;
  }

  .pr-10 {
    padding-right: 10px;
  }

  .pr-15 {
    padding-right: 15px;
  }

  .pr-20 {
    padding-right: 20px;
  }

  .pb-10 {
    padding-bottom: 10px;
  }

  .pb-20 {
    padding-bottom: 20px;
  }

  .pb-60 {
    padding-bottom: 60px;
  }
  .title-left-border {
    position: relative;
    height: 22px;
    line-height: 22px;
    text-indent: 16px;
    font-size: 16px;
    font-weight: 500;
  }
  .title-left-border:before{
    content: '';
    height: 16px;
    width: 4px;
    background: #2367FA;
    border-radius: 2px;
    position: absolute;
    top: 3px;
    left: 0;
  }

  .setSearchDialog {
    position: relative;

    .el-icon-circle-close {
      margin-right: 15px;
    }

    .el-button {
      position: absolute;
      height: 40px;
      right: 8px;
      padding: 8px 0;
      z-index: 1;
      cursor: pointer;
    }

    .el-button.is-disabled {
      display: none;
    }
  }

  .el-collapse-item{
    box-shadow: 0px 0 15px #eee;
  }
.inputClass {
    display: flex;
    word-break: break-all;
    white-space: normal;
    text-overflow: ellipsis;
    .el-input--medium{
      width: 25%;
    }
    .inputClass-item, .inputClass-item-2, .inputClass-item-3, .inputClass-item-half {
      display: flex;
      .el-select {
        width: 100%;
      }
      .el-form-item__label{
        font-size: 14px;
          color: $--color-detail-main-attr;
          font-weight: normal;
      }
      .el-input__inner{
        border: 1px solid #e9eef5;
        border-radius: 3px;
      }
      .el-input__inner::placeholder,.el-input__inner::-ms-input-placeholder,.el-input__inner::-moz-placeholder{
          color: #B8C4DD;
      }
    }
    .inputClass-item {
      flex: 1;
      width: 30%;
    }
    .inputClass-item-2 {
      flex: 2;
    }
    .inputClass-item-3 {
      flex: 3;
    }
    .inputClass-item-4 {
      flex: 4;
      width: calc((100% - 60px) / 4);
      margin-right: 16px;
    }
    .inputClass-item-half {
      width: 49%;

      .el-select {
        display: block;
      }
    }
  }
  .inputClassDialog {
    word-break: break-all;
    white-space: normal;
    text-overflow: ellipsis;
    justify-content: space-between;
    &.item-3 {
      justify-content: space-between;
    }
    .inputClass-item{
      box-sizing: border-box;
    }

      .el-select {
        width: 100%;
      }
      .inputClass-item-1 {
        flex: 4;
        width: 100%;
        margin-right: 16px;
        float: left;
        &:nth-child(n){
          margin-right: 0;
        }
      }
      .inputClass-item-2 {
        flex: 4;
        width: calc((100% - 16px) / 2);
        margin-right: 16px;
        float: left;
        &:nth-child(2n){
          margin-right: 0;
        }
      }
      .inputClass-item-3 {
        flex: 4;
        width: calc((100% - 32px) / 3);
        margin-right: 16px;
        float: left;
        &:nth-child(3n){
          margin-right: 0;
        }
      }
      .inputClass-item-4 {
        flex: 4;
        width: calc((100% - 48px) / 4);
        margin-right: 16px;
        float: left;
        &:nth-child(4n){
          margin-right: 0;
        }
      }

      .el-form-item__label {
        font-size: 14px;
        color: $--color-detail-main-attr;
        font-weight: normal;
      }

      .el-input__inner {
        border: 1px solid #e9eef5;
        border-radius: 3px;
        height: 42px;
        line-height: 42px;
      }
      .el-input-number {
        width: 100%;
      }

  }
  //弹框
  .el-dialog {
    min-width: 320px;
    max-width: 1000px;
  }

  .el-dialog--1000 .el-dialog {
    width: 1000px;
  }
//列表页查询
.handle-box{
  .el-input--medium{
    width: 200px;
  }
}
//下方有添加按钮的表格
.table-addbtn-box{
  padding-bottom: 5px;
  margin-bottom: 20px;
  border: 1px solid #F7F9FD;
  border-radius: 4px;
  ::v-deep .el-table{
    margin-bottom: 5px;
    border: none;
  border-bottom: 1px solid #F7F9FD;
  }
}

//详情页锚点

.tabs-head {
  z-index: 100;
  margin: auto;
  text-align: center;
  div {
    display: inline-block;
      width: 80px;
      height: 32px;
      line-height: 32px;
      border: 1px solid #DCDEE0;
      cursor: pointer;
  }
  .div-hove {
      background: #EDF4FF;
      color: #0663FF;
      border: 1px solid #0663FF;
  }
  div:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
  }
  div:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
  }
}




